block vars
doctype html
| <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
| <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
| <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
| <!--[if gt IE 8]><!-->
html(class='no-js', lang='en')
  | <!--<![endif]-->
  head
    meta(charset='utf-8')
    title #{title}
    meta(content='#{description}', name='description')
    meta(content='width=device-width', name='viewport')
    style.
      html,
      body {
        margin:0; padding: 0;
        height: 100%;
      }

      @media (max-width: 767px) {
        html,
        body {
          padding: 0 4px;
        }
      }

      body {
        margin-left: auto;
        margin-right: auto;
      }

      .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -48px;
      }

      .login, .register, .verify-email, .forgot-password, .change-password { display: table; }
      .custom-container { display: table-row; height: 100%; }
      .va-wrapper { display: table-cell; width: 100%; vertical-align: middle; }

    block head

  body(class='#{bodytag}')

    script(type='text/javascript').
      window.onload = function onDocumentReady() {
        var stormpath = window.stormpath = new Stormpath({
          authStrategy: 'cookie'
        });

        stormpath.once('emailVerificationRequired', function () {
          console.log('Email verification required!');
        });

        stormpath.once('emailVerified', function () {
          console.log('Email verified!');
        });

        stormpath.once('passwordChanged', function () {
          window.location = '#{stormpathConfig.web.changePassword.nextUri}';
        });

        stormpath.once('registered', function () {
          window.location = '#{stormpathConfig.web.register.nextUri}';
        });

        stormpath.once('loggedIn', function () {
          window.location = '#{stormpathConfig.web.login.nextUri}';
        });
      };

    block body

    script(src='/assets/stormpath.min.js')