extends base

block vars
  if action == "invite"
    - var title = 'New Account Setup'
  else
    - var title = 'Set Password'
  - var description = 'Change your password here.'
  - var bodytag = 'login'

block body
  .container.custom-container
    .va-wrapper
      .view.login-view.container
        .box.row
          .email-password-area.col-xs-12.large.col-sm-12
            if status == "success-in-browser"
              .header
                span.
                  Your password has been changed!
                p.
                  Please open Daycast and login with your new password.
            else
              .header
                if action == "invite"
                  span New Account Setup
                  p.
                    Enter your new account password below.  Once confirmed,
                    you'll be able to download the Daycast app and get started right away.
                    Already have an account? Click #[a(href="https://daycast.com/download") here] to download the app.
                else
                  span Reset Password
                  p.
                    Enter your new password below.

              if error
                .alert.alert-danger.bad-login
                  p #{error}

              if formErrors
                .alert.alert-danger.bad-login
                  each error in formErrors
                    p #{error.error}

              form.login-form.form-horizontal(method='post', role='form')
                input(name='_csrf', type='hidden', value=csrfToken)

                .form-group.group-password
                  label.col-sm-4 Password

                  div.col-sm-8
                    input.form-control(placeholder='Password', required=true, name='password', type='password')

                .form-group.group-password
                  label.col-sm-4 Password (again)

                  div.col-sm-8
                    input.form-control(placeholder='Password (again)', required=true, name='passwordAgain', type='password')

                p.pwd-requirements Passwords must be #[b 8+] characters and include each of the following:
                ul.pwd-requirements
                  li a digit (0-9)
                  li an upper-case letter (A-Z)
                  li a lower-case letter (a-z)

                div
                  button.login.btn.btn-login.btn-sp-green(type='submit') Submit
