extends base

block vars
  if action == "invite"
    - var title = 'New Account Setup'
  else
    - var title = 'Set Password'
  - var description = 'Change your password here.'
  - var bodytag = 'login'

block body
  .container.custom-container
    .va-wrapper
      .view.login-view.container
        if organization
          .header.text-center #{organization.name}
        .box.row
          .email-password-area.col-xs-12.large.col-sm-12
            if status == "success-in-browser"
              .header
                if action == "invite"
                  span Welcome to Daycast
                else
                  span Your password has been changed!
                p.
                  Please open Daycast and login with your new password.
            else
              .header
                if action == "invite"
                  span New Account Setup
                  p.
                    Enter your new account password below.  Once confirmed,
                    you'll be able to download the Daycast app and get started right away.
                    Already have an account? Click #[a(href="#{urls.download}") here] to download the app.
                else
                  span Reset Password
                  p.
                    Enter your new password below.

              if error
                .alert.alert-danger.bad-login
                  p #{error}

              if formErrors
                .alert.alert-danger.bad-login
                  each error in formErrors
                    p #{error.error}

              form.login-form.form-horizontal(method='post', role='form')
                input(name='_csrf', type='hidden', value=csrfToken)

                if action == "invite"
                  .form-group.group-email
                    label.col-sm-4 Email
                    div.col-sm-8
                      input.form-control(value=user.email, readonly='readonly', type='text')

                .form-group.group-password
                  label.col-sm-4 Password

                  div.col-sm-8
                    input.form-control(placeholder='Password', required=true, name='password', type='password')

                .form-group.group-password
                  label.col-sm-4 Password (again)

                  div.col-sm-8
                    input.form-control(placeholder='Password (again)', required=true, name='passwordAgain', type='password')

                p.pwd-requirements Passwords must be #[b 8+] characters and include each of the following:
                ul.pwd-requirements
                  li a digit (0-9)
                  li an upper-case letter (A-Z)
                  li a lower-case letter (a-z)

                p.email-lists
                  span I would like to receive:
                  each group in email_groups
                    unless group.is_fellowship || group.show_choice == false
                      label #[input(type='checkbox', name='email_interests', value='#{group.id}')] &nbsp; #{group.name} (#{group.desc})
                    if group.show_choice == false
                      label.hidden #[input(type='checkbox', name='email_interests', checked='checked', value='#{group.id}')] &nbsp; #{group.name} (#{group.desc})
                div.faded Your contact information stays with Daycast, you can opt-out any time - #[a(target='_blank' href='#{urls.privacy}') Privacy Policy]

                p.email-lists
                  each group in email_groups
                    if group.is_fellowship
                      label #[input(type='checkbox', name='email_interests', value='#{group.id}')] &nbsp; #{group.name} (#{group.desc})*
                div.faded * Membership in this group is limited and by invitation. Let us know you are interested, and we'll follow up with you.

                if action == "invite"
                  .form-group.group-tos
                    div(class='col-sm-4')

                    div(class='col-sm-8 tos')
                      label #[input(type='checkbox', name='tos', id='tos', value='true')] &nbsp; I agree to the #[a(target='_blank', href='#{urls.tos}') Terms of Service]

                div
                  button.login.btn.btn-login.btn-sp-green(type='submit') Submit
