button.btn.btn-social.btn-google(onclick='googleLogin()') Google
script(type='text/javascript').
  /**
   * Get the value of a querystring
   * @param  {String} field The field to get the value of
   * @param  {String} url   The URL to get the value from (optional)
   * @return {String}       The field value
   */

  function googleLogin() {
    var clientId = '#{stormpathConfig.socialProviders.google.clientId}';
    var googleScopes = '#{stormpathConfig.socialProviders.google.scopes}';
    var hd = '#{stormpathConfig.socialProviders.google.hd}';
    var scopes = '';

    if (googleScopes.length) {
      scopes = '+' + googleScopes.split(',').join('+');
    }

    var finalUrl = 'https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=' +
      clientId +
      '&scope=email' + scopes +
      '&include_granted_scopes=true&redirect_uri=' +
      '#{url}#{stormpathConfig.socialProviders.google.callbackUri}';

    if (hd) {
      finalUrl = finalUrl + '&hd=' + hd;
    }

    window.location = finalUrl;
  }
